function FlappyBird.new 0
push constant 12
call Memory.alloc 1
pop pointer 0
push constant 150
pop this 8
push this 8
call Bird.new 1
pop this 0
push constant 8
pop this 10
push constant 0
not
pop this 6
push constant 80
pop this 11
push this 10
call Array.new 1
pop this 4
push pointer 0
return
function FlappyBird.prestart 0
push argument 0
pop pointer 0
call Screen.clearScreen 0
pop temp 0
push constant 43
call String.new 1
push constant 80
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 98
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 102
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 103
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
call Keyboard.readInt 1
pop this 2
push constant 36
call String.new 1
push constant 116
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 107
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 98
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 103
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 46
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 0
return
function FlappyBird.run 2
push argument 0
pop pointer 0
push constant 10
pop local 1
call Screen.clearScreen 0
pop temp 0
push pointer 0
call FlappyBird.createGame 1
pop temp 0
push pointer 0
call FlappyBird.drawPipes 1
pop temp 0
label WHILE_EXP0
push local 0
push constant 81
eq
not
not
if-goto WHILE_END0
push this 0
push local 1
call Bird.turn 2
pop temp 0
push pointer 0
push local 1
call FlappyBird.movePipes 2
pop temp 0
push pointer 0
call FlappyBird.handleCollisions 1
pop temp 0
push this 6
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call FlappyBird.finishGame 1
pop temp 0
push constant 1000
call Sys.wait 1
pop temp 0
push constant 0
return
label IF_FALSE0
push pointer 0
call FlappyBird.draw 1
pop temp 0
call Keyboard.keyPressed 0
pop local 0
push local 1
call Sys.wait 1
pop temp 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function FlappyBird.finishGame 0
push argument 0
pop pointer 0
push constant 11
call String.new 1
push constant 32
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 11
call String.new 1
push constant 32
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 11
call String.new 1
push constant 32
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 11
call String.new 1
push constant 32
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 17
call String.new 1
push constant 32
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 102
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push this 5
push this 10
sub
call Output.printInt 1
pop temp 0
push constant 0
return
function FlappyBird.createGame 0
push argument 0
pop pointer 0
push this 0
call Bird.draw 1
pop temp 0
push pointer 0
call FlappyBird.createPipes 1
pop temp 0
push constant 0
return
function FlappyBird.draw 0
push argument 0
pop pointer 0
call Screen.clearScreen 0
pop temp 0
push this 0
call Bird.draw 1
pop temp 0
push pointer 0
call FlappyBird.drawPipes 1
pop temp 0
push constant 0
return
function FlappyBird.movePipes 2
push argument 0
pop pointer 0
push constant 0
pop local 0
push constant 0
pop this 9
label WHILE_EXP0
push local 0
push this 10
lt
not
if-goto WHILE_END0
push local 0
push this 4
add
pop pointer 1
push that 0
pop local 1
push local 1
push argument 1
call Pipe.turn 2
pop temp 0
push local 1
push this 0
call Pipe.hasPassed 2
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 9
push constant 1
add
pop this 9
label IF_FALSE0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
label WHILE_EXP1
push this 9
push constant 0
gt
not
if-goto WHILE_END1
push pointer 0
call FlappyBird.createNewPipe 1
pop temp 0
push this 9
push constant 1
sub
pop this 9
goto WHILE_EXP1
label WHILE_END1
push constant 0
return
function FlappyBird.drawPipes 2
push argument 0
pop pointer 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push this 10
lt
not
if-goto WHILE_END0
push local 0
push this 4
add
pop pointer 1
push that 0
pop local 1
push local 1
call Pipe.draw 1
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function FlappyBird.handleCollisions 3
push argument 0
pop pointer 0
push constant 0
pop local 0
push constant 0
not
pop local 2
label WHILE_EXP0
push local 0
push this 10
lt
not
if-goto WHILE_END0
push local 0
push this 4
add
pop pointer 1
push that 0
pop local 1
push this 0
push local 1
call Bird.getAlive 2
pop local 2
push local 2
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
pop this 6
push constant 0
return
label IF_FALSE0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function FlappyBird.createPipes 3
push argument 0
pop pointer 0
push constant 0
pop this 5
push constant 0
pop local 1
label WHILE_EXP0
push local 1
push this 10
lt
not
if-goto WHILE_END0
push this 5
push constant 1
add
pop this 5
push pointer 0
call FlappyBird.createPipe 1
pop local 0
push local 1
push this 4
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push this 10
push local 1
sub
push constant 500
call Math.multiply 2
call Pipe.turn 2
pop temp 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function FlappyBird.pipeHeightByNumber 3
push argument 0
pop pointer 0
push constant 40
pop local 1
push constant 255
push this 11
sub
push local 1
sub
pop local 2
push argument 1
push argument 1
call Math.multiply 2
push this 2
call Math.multiply 2
push constant 3
call Math.multiply 2
push argument 1
push this 2
call Math.multiply 2
push constant 11
call Math.multiply 2
add
push constant 31
add
pop local 0
push local 0
push constant 1000
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
push local 0
push constant 1000
call Math.divide 2
push constant 1000
call Math.multiply 2
sub
pop local 0
label IF_FALSE0
label WHILE_EXP0
push local 0
push local 2
gt
not
if-goto WHILE_END0
push local 0
push local 2
sub
pop local 0
goto WHILE_EXP0
label WHILE_END0
push local 0
push local 1
add
pop local 0
push local 0
return
function FlappyBird.waitForGameToStart 1
push argument 0
pop pointer 0
call Keyboard.keyPressed 0
pop local 0
label WHILE_EXP0
push local 0
push constant 0
eq
not
if-goto WHILE_END0
push constant 10
call Sys.wait 1
pop temp 0
call Keyboard.keyPressed 0
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function FlappyBird.createNewPipe 2
push argument 0
pop pointer 0
push constant 0
pop local 0
push constant 0
push this 4
add
pop pointer 1
push that 0
pop local 1
push local 1
call Pipe.dispose 1
pop temp 0
label WHILE_EXP0
push local 0
push this 10
push constant 1
sub
lt
not
if-goto WHILE_END0
push this 5
push constant 1
add
pop this 5
push local 0
push constant 1
add
push this 4
add
pop pointer 1
push that 0
pop local 1
push local 0
push this 4
add
push local 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push this 5
push constant 1
add
pop this 5
push pointer 0
call FlappyBird.createPipe 1
pop local 1
push this 10
push constant 1
sub
push this 4
add
push local 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function FlappyBird.createPipe 2
push argument 0
pop pointer 0
push pointer 0
push this 5
call FlappyBird.pipeHeightByNumber 2
pop local 0
push local 0
push this 11
call Pipe.new 2
pop local 1
push local 1
return
